
/UltimateApocalypse_THB/data/ai/
/UltimateApocalypse_THB/data/art/
/UltimateApocalypse_THB/data/cosmos_custom_sounds/
/UltimateApocalypse_THB/data/defprofile/
/UltimateApocalypse_THB/data/game/
/UltimateApocalypse_THB/data/scar/
/UltimateApocalypse_THB/data/sound/
/UltimateApocalypse_THB/data/scenarios/
!/UltimateApocalypse_THB/data/attrib/
!/UltimateApocalypse_THB/data/attrib/**
/UltimateApocalypse_THB/data/
*
!UltimateApocalypse.module
