*
*
!UltimateApocalypse_THB.module
!changelog.txt
!/UltimateApocalypse_THB/data/attrib/
!/UltimateApocalypse_THB/data/attrib/**

!/UltimateApocalypse_THB/
!/UltimateApocalypse_THB/**
/UltimateApocalypse_THB/data/ai/
/UltimateApocalypse_THB/data/ai/**
/UltimateApocalypse_THB/data/art/
/UltimateApocalypse_THB/data/art/**
/UltimateApocalypse_THB/data/scar/
/UltimateApocalypse_THB/data/scar/**
/UltimateApocalypse_THB/Locale/
/UltimateApocalypse_THB/Locale/**
/UltimateApocalypse_THB/DataSalcol.sga
/UltimateApocalypse_THB/DataSalcolAI.sga
/UltimateApocalypse_THB/DataSalcolScenarios.sga
/UltimateApocalypse_THB/data/camera_high.lua
/UltimateApocalypse_THB/data/camera_low.lua
/UltimateApocalypse_THB/data/camera_me.lua
